@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Brand colors */
    --primary-color: 1 7 19;
    --designer-color: 239 175 0;
    --producer-color: 0 186 239;
    /* Application colors */
    --call-to-action-color: 255 215 0;
    --error-color: 255 0 0;
    --background-color: 255 255 255;
    --body-text-color: 0 0 0;
    --inactivity-color: 217 217 217;
  }
}
