@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: 3 2 2;
    --background-color: 249 243 241;
    --primary-color: 77 147 168;
    --secondary-color: 206 213 233;
    --accent-color: 45 98 84;
  }
}
